- email: ""
  username: ""
  password: ""
  phone: ""
  access-key: ""
  access-token: ""
  consumer-key: ""
  consumer-token: ""
  media-dir: ""
  proxy-id: ""
  message-category-name: ""

- email: ""
  username: ""
  password: ""
  phone: ""
  access-key: ""
  access-token: ""
  consumer-key: ""
  consumer-token: ""
  media-dir: ""
  proxy-id: ""
  message-category-name: ""