- email: ""
  username: ""
  password: ""
  phone: ""
  access-key: ""
  access-token: ""
  consumer-key: ""
  consumer-token: ""
  disabled: 0
  media-dir: ""
  proxy-id: "tor"
  message-category-name: "category_first"

- email: ""
  username: ""
  password: ""
  phone: ""
  access-key: ""
  access-token: ""
  consumer-key: ""
  consumer-token: ""
  disabled: 0
  media-dir: ""
  proxy-id: "tor2"
  message-category-name: "category_second"