category_first:
  messages:
    - "test first msg"
    - "test second msg"

category_second:
  messages:
    - "test[2] first msg"
    - "test[2] second msg"
  tags:
    - "some tag1"
    - "some tag2"